<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="../css/mui.css" rel="stylesheet"/>
    <script src="../js/mui.js"></script>
</head>
<body>
<div id="app">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav"></a>
        <h1 class="mui-title">我的订单</h1>
    </header>
    <div class="mui-content">
        <ul class="mui-table-view mui-table-view-chevron">
            <div v-if="goodArray">
                <li class="mui-table-view-cell mui-media" v-for="(item,index) in goodArray">
                    <a class="mui-navigate-right" href="index.html">
                        <img class="mui-media-object mui-pull-left" :src="item.shopping_img">
                        <div class="mui-media-body">
                            {{item.shopping_name}}
                            <p class="mui-ellipsis">
                                价格： ￥ {{item.shopping_price}} - 购买：{{item.total}}件
                            <div class=" mui-pull-left item-date">Buy:{{item.create_time}}</div>
                            </p>
                        </div>
                    </a>
                </li>
            </div>
            <div v-else>
                <div class="mui-table-view-cell mui-media">
                    暂无数据
                </div>
            </div>

        </ul>

    </div>
</div>
</body>
</html>
<script src="../js/vue.min.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/jquery.js"></script>
<script type="text/javascript">
    // 获取产品数据
    let app = new Vue({
        el: '#app',
        data: {
            user_id: null,
            goodArray: {},
        },
        mounted: function () {
            this.getUsername();
        },
        methods: {
            //获取用户信息
            getUsername() {
                axios.get("http://localhost:82/project/php/login.php?oper=get")
                    .then((response) => {
                        if (response.data.user) {
                            this.user_id = response.data.user.user_id;
                            // 得到数据
                            if (this.user_id) {
                                this.selectBuy(this.user_id);
                            }

                        }

                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            //查询用户的购买订单
            selectBuy(user_id) {
                axios.post("http://localhost:82/project/php/buying.php?action=select_buy&is_buy=1&user_id="
                    + user_id).then((res) => {
                        console.log(res.data);
                        this.goodArray = res.data.buying;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
        }
    });


</script>