.icon {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    padding: 6px 10px;
}
.icon_div {
    text-align: center;
    padding: 5px;
    width: 25%;
}

.icon_div div:nth-of-type(1) {
    font-size: 2em;
}

.icon_div div:nth-of-type(2) {
    margin-top: 1em;
}

.pers_icodiv {
    text-align: center;
    padding: 3px;
    width: 6em;
}

.pers_icodiv div:nth-of-type(1) {
    font-size: 2em;
    position: relative;
}